@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

/**
 * Reset
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

/**
 * Html, Body
 */
html,body, .container {
	position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
}
html {
}
body {
	height: 100%;
	/*background: #eee;*/
}

div.alert {
	margin: 10px 0;
}

textarea {
	resize: none;
}

.clear { 
	clear: both; 
	background: transparent !important;
}

nav.navbar {
	border-radius: 0 !important;
	height: 70px !important;
}

nav a.navbar-brand {
	margin-top: 7px;
}

.center {
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 60px;
}

.inline-form-wrapper, ul.navbar-right li{
	margin-top: 7px;
}

ul.dropdown-menu {
	margin-top: 11px !important; /* Change dropdown menu position if height of navbar is changed */
}

a#register {
	padding: 0;
	margin: 0;
}
/**
 * Navbar search styling
 */
form#search-games-global {
	margin-top: 15px;
	width: 250px;
}
#games-list {
	border-radius: 5px;
}
form#search-games-global input#games-global-search {
	border-bottom-left-radius: 5px;
}
span#global-search-result {
    overflow: auto;
    z-index: 1000;
	float: left;
	background: #ccc;
	display: block;
	width: 300px;
	max-height: 355px;
	padding: 10px;
	position: absolute;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;


}
span#global-search-result li.search-result-game {
	border-bottom: 2px solid #fff;
}
div#search-result-layer {
	display: block;
	position: relative;
}

/**
 * Main container styling
 */
div.main-content {
	float: left;
	padding: 10px;
	width: 70%;
	padding-top: 0 !important;
}

div.main-content div.searchbar, div.main-content div#gameslist {
	padding: 0;
}

/**
 * Bootstrap panels styling
 */
/*
div.panel div.panel-body {
	max-height: 200px;
	word-break:break-all;
	overflow: hidden;
}
*/
/**
 * Sidebar styling
 */
div#left-panel div.element {
	position: relative;
	background: #aaa;
	margin: 5px;
	border-radius: 5px;
}

div#left-panel div.element.active {
	/*background: #aad;*/
	background: #d9d9d9;
	color: #000;
}

div#left-panel div.element a {
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	padding: 5px;
	width: 100%;
	height: 100%;
}

div#left-panel div.element a:hover {
	color: #ccc;
}

div#sidebar {
	margin-top: -10px;
	z-index: 1000;
    float:left;
    margin-left: 5px;
    padding: 10px;
    width: 20% !important;
}

div#sidebar > * {
	background-color: #ccc;
	width: 230px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

h3#latest-posts-header, h3#left-panel-header {
	margin-top: 0;
	text-align: center;
}

div.latest-posts-element {
	border: 2px solid #fff;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
}
div.latest-posts-element a {
	cursor: pointer;
	text-decoration: none;
}
div.latest-posts-element p {
	margin-bottom: 0;
}

div#left-panel {
	position: relative;
}

div#latest-posts {
	position: relative;
	font-size: 11px;
}

/**
 * Category content and game styling
 */
div#gameslist {
	margin-top: 10px;
}

div.comment {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
}

div.comment a {

}

div.comment a:hover {
	cursor: pointer;
	text-decoration: none;
}

h2#game-title {
	margin: 0;
}

h2#comments-header {
	margin: 10px 0;
}

form.new-post-form {
	background: #ccc;
	padding: 20px;
	border-radius: 5px;
}

div.fixedheight {
	height: 900px !important;
}

img.resize{
    width: 100%; /* you can use % */
    height: auto;
}


/**
 * Second level styling
 

div#left-panel div.element div {
	background: #aaa !important;
	padding-bottom: 5px;
}

div#left-panel div.element div a:hover {
	background: #bbb !important;
}

div#left-panel div.element div:last-child {
	border-radius: 5px;
}
*/

/**
 * User pages styling
 */
div#profile-wrapper {
	margin: 0;
	/*
	padding: 10px 10px 10px 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	*/
}

div#profile-wrapper h2:first-child {
	margin-top: 0;
}

/**
 * Carousel styling
 */
div#myCarousel {
	width: 100%;
}
#myCarousel div.carousel-inner { 
	width: 100%;
  	max-height: 500px !important;
}

#myCarousel div.carousel-inner div.item { 
}

#myCarousel div.carousel-inner div.item img { 
}


#myCarousel div.carousel-inner .container {
	position: relative;
	z-index: 9;
} 

.carousel .item {
  	height: 500px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin: 0 auto;
	margin-top: 200px;
}

div.carousel-caption {
	margin: 0;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	bottom: 20px;
	text-align: center;
}


/**
 * Footer styling
 */

/* Wrapper for page content to push down footer */
#page-wrap {
	width: 100%;
	min-height: 100%;
	height: auto !important; /*This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -60px;  /*the bottom margin is the negative value of the footer's height */
	padding-bottom: 60px;
}
div#footer, .push {
	height: 60px; /* .push must be the same height as .footer */
}
/*
#page-wrap::after {
    content: "";
    display: table;
    clear: both;
    height: 60px;
}*/

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}





/* Set the fixed height of the footer here */
div#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10000000;
	color: #fff;
	padding-top: 20px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	/* background-color:  #f5f5f5; */
	background-color: #a8a8a8;
}

div#footer a {
	color: #fff;
	text-decoration: none;
}

div#footer a:hover {
	color: #ccc;
}

div#footer, .page-wrap:after {
	height: 60px; 
}

div#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 0 0 120px;
	line-height: 4;
}

